<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" style="color: #fff;"></ion-menu-button>
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title style="color: #fff;">Notification</ion-title>
    <ion-buttons slot="secondary">
      <ion-chip color="dark" (click)='goToPage("addmoney")'>
        <ion-icon name="wallet" style="color: #fff;"></ion-icon>
        <ion-label style="color: #fff;">2200 Rs</ion-label>
      </ion-chip>
      <ion-icon name="notifications-sharp" style="font-size: 1.5em;padding-right: 10px;color: #fff;" (click)="goToPage('notification')"></ion-icon>
      <ion-icon name="ellipsis-vertical-outline" style="font-size: 1.5em;padding-right: 10px;color: #fff;" (click)="goToPage('home')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <ion-list lines="none">
    <ion-item class="active">
      <div class="item_inner">
        <h2 class="d-flex"><span>Get 25% cashback on frist electricity Bill Payment</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item class="active">
      <div class="item_inner">
        <h2 class="d-flex"><span>Your order for Sqware white shirt has been dispatched</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>You have received $10.00 cash back added in your wallet</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Your Booking for AC bus from NY To KY ic confirmed.</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Checkout the fashion collections you is confirmed</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>

    <ion-item>
      <div class="item_inner">
        <h2 class="d-flex"><span>Verify your phone number before booking a train ticket</span>
          <ion-icon class="zmdi zmdi-circle end"></ion-icon>
        </h2>
        <p>2 days ago</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
